# Dependências (Pasta mais pesada, nunca deve subir)
node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor (Configurações do VS Code)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema Operacional
.DS_Store
thumbs.db

# Variáveis de Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local